* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

a {
    cursor: pointer;
    color: #002147;
}
    a:hover {
        color: #AB0520;
    }
    a.notunderlined {
        text-decoration:none;
    }
    a.notunderlined:hover {
        text-decoration:underline;
    }
a.red {
    color: #AB0520;
}
    a.red:hover {
        color: #002147;
    }

button {
    color: #ffffff;
    font-weight: bold;
    border: 1px solid #AB0520;
    background-color: #002147;
    cursor:pointer;
    border-radius: 10px;
    padding: 6px 12px;
    font-size: 18px;
}
button:hover {
    background-color: #ffffff;
    color: #AB0520;
    border-color: #002147;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
    color: #002147;
}

.uared {
    color: #AB0520;
}
.uablue {
    color: #002147;
}
.grey { color: #666666; }
.ltgrey { color: #999999; }
.dkgrey { color: #333333; }
.ltrgrey { color: #cccccc; }

.bold {
    font-weight: bold;
}
.notbold {
    font-weight: normal;
}
.italic {
    font-style: italic;
}
.underlined {
     text-decoration:underline;
}
    a.underlined:hover {
        text-decoration:none;
    }

.floatleft {
    float:left;
}
.floatright { float:right; }
.center { text-align: center; }
.right { text-align:right; }
.margincenter {
    margin: 0 auto;
}
.noborder {
    border: none;
}

.norm {
    font-size:16px;
    font-weight: normal;
}
.small90 { font-size: 90%; }
.small80 { font-size: 80%; }
.small70 { font-size: 70%; }

.clear {
    clear:both;
}


img.head {
	float:none;
	margin: 10px;
	width: 90%;
	max-width: 256px;
}

.functionsep {
    
	padding: 10px 20px;
    margin: 10px auto;
    border-radius: 15px;
    background: #ffffff;
    width:90%;
    max-width: 256px;
}
.functionsep div {
	border: thin dotted #cccccc;
}

/* Portrait layout (default) */
.sub {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    text-align:center;
}

.main {
    padding: 10px;
    float:none;
    text-align:center;
}



/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .main {

	    float:none;
	}
    img.head {
    /*
        float:left;
	    margin: 10px auto;
	    width: 90%;
	    max-width: 256px;*/
	}
}

div#menu {
    width: 30%;
    background-color: #cccccc;
    background-color: rgba(255,255,255,0.90);
    border: thin solid #666666;
    position:absolute;
    bottom: 0;
    left: 33%;
    display:none;
    padding: 10px;
    font-size:110%;
    text-align: center;
    
}
div#menu ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
div#menu ul li {
    padding: 10px;
}